
        body {
            color: #1d015d;
           font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
            background-color: #c0e8ff;
            padding-left: 11em;
            padding-right:16em;
            font-size: large;
            margin: 2em;
        }

        .navbar {
            position: absolute;
            top: 8em;
            left: 1em;
            width: 5em;
            font-size: 21px;
            font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
            color:black;
            margin:1em;
            padding-left: 0em;
       

        }

        h1,h2,h3,h4 {
            font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
            size: 4em;
        }


        .titulo{
            margin-left: 13em;
            margin-right: 10em;
           
        }
      
