@{
    ViewBag.Title = "Chiquitica";
    Layout = "~/Views/Template/HomeTemplate.cshtml";
}

<h2>Chiquitica Web</h2>


<p>
    <h4>
        Hola, esta pagina es para decirte que te amo muxo chiquitica
    </h4>
    <img src="~/wwroot/17b8fe2d-1c34-499b-aa91-653b450821b8.jpg" />


    <h1>HOLA</h1>
    <h2>MI</h2>
    <h3>AMORRRRRRR</h3>
    <h4>TE</h4>
    <h5>ADORRRRROOOOOOOOO</h5>
    <h1>BESOSSSSSSS</h1>


</p>
<script>

    for (var i = 0; i < 3; i++)
    {
        alert("Hola bebeeeeeeeeeeeeee!!!!!!");
    }


</script>