

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Template/HomeTemplate.cshtml";
}


<div class="container">


    <p>
        <br />
        <h2>Caribe Media</h2>
        A través de los años Caribe Media ha ido incorporando nuevas herramientas y servicios. Es por esto que hoy podemos decir que tenemos la composición perfecta para hacer crecer su negocio.

        Somos Caribe Media, una empresa con más de 50 años en el mercado, que cuenta con la plataforma más completa de soluciones de información, publicidad en medios impresos y digitales, servicios de desarrollo de apps, manejo de redes sociales, comercialización de base de datos y una amplia red de medios.

        Con una vasta experiencia como asesores publicitarios y los esfuerzos organizacionales orientados a ayudarle a elegir la mejor combinación publicitaria para su empresa, nos aseguramos de ofrecerle siempre la solución perfecta para lograr transmitir su mensaje.

        En Caribe Media conectamos su negocio con sus potenciales clientes. No importa lo que esté buscando, nuestra cartera de productos impresos y digitales son una solución de publicidad direccional y de branding que contribuirá al éxito de su negocio.

        <h3>Misión</h3>
        Ser el proveedor líder de soluciones innovadoras que conectan a compradores,
        vendedores y comunidades con información local, ofreciendo valor a nuestros mercados y accionistas.

        <h3> Visión</h3>
        Crear relaciones a través de experiencias esenciales e información clave.
    </p>
    
</div>
