<head>
    <title>mi chiquitico web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
        <body>
            <h1>te amo</h1>
            <h2>muchito</h2>
            <h3>con mi brasito</h3>
            <h4>roto</h4>
            <h5>iquitico</h5>
            <h6>アイシテル</h6>
        </body>
